html {
  scroll-behavior: smooth; 
}

body {
  margin: 0;
  height: 3870px;
  box-sizing: border-box;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}



/* Header */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background: #EDF2EC;
  font-family: Inika;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo span {
  flex-shrink: 0;
  line-height: normal;
}

nav {
  width: 452px;
  height: 50px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 50px;
  text-decoration: none;
}

.nav__link {
  color: #010201;
  line-height: 50px;
  text-decoration: none;
}

.nav__link_home {
  color: #E06733;
  font-weight: 700;
  line-height: 50px; /* 312.5% */
  text-decoration: none;
}



/* Welcome section */
#welcome {
  display: flex;
  height: 407.358px;
  padding: 62px 109px 62.642px 109px;
  font-family: 'Inter';
  font-style: normal;
  background: #EDF2EC;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.welcome {
  width: 1222px;
  height: 407.358px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.welcome__leafs {
  flex-shrink: 0;
  display: flex;
  flex-wrap: wrap;
}

.welcome__leaf-top-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

.welcome__leaf-bottom-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.welcome__leaf-1 {
  transform: rotate(-143.828deg);
  flex-shrink: 0;
  filter: blur(4.5px);
}

.welcome__leaf-2 {
  transform: rotate(-7.429deg);
  flex-shrink: 0;
  filter: blur(4.5px);
}

.welcome__leaf-3 {
  transform: rotate(-59.526deg);
  flex-shrink: 0;
  filter: blur(3.5px);
}

.welcome__leaf-4 {
  transform: rotate(128.917deg);
  flex-shrink: 0;
  filter: blur(4.5px);
}

.welcome__leaf-5 {
  transform: rotate(-163.433deg);
  flex-shrink: 0;
  filter: blur(2px);
}

.welcome__text {
  flex-shrink: 0;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.welcome__text p {
  color: #636060;
  flex-shrink: 0;
}

.welcome__text button {
  width: 158px;
  height: 44px;
  font-size: 16px;
  flex-shrink: 0;
  line-height: 20px;
  border-radius: 10px;
  border: 2px solid #E06733;
  background: rgba(224, 103, 51, 0.00);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.welcome__text button:hover {
  background-color: #E06733;
}

h1 {
  color: #717171;
  margin: 0;
  flex-shrink: 0;
  font-weight: 700;
  line-height: 50px
}

h1 span {
  color: #499A18;
}



/* About section */
#about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  font-style: normal;
  font-weight: 400;
}

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-us-section {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-us-section h2 {
  flex-shrink: 0;
  color: #499A18;
  font-family: Inika;
  line-height: normal;
}

.about-us-section h2 span {
  color: #E06733;
}

.about-us-section p {
  flex-shrink: 0;
  color: #636060;
  font-family: Inter;
}

.houseplant {
  flex-shrink: 0;
}



/* Service section */
#service {
  display: flex;
  padding-left: auto;
  padding-right: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #EDF2EC;
  font-style: normal;
}

.service__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.services__content {
  font-family: Inika;
  font-weight: 400;
  line-height: normal;
  display: flex;
  justify-content: space-between;
}

.services__content h2 {
  flex-shrink: 0;
  color: #499A18;
}

.services__btns {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.services__btns button {
  color: #E06733;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid #E06733;
}

.services__btns button:hover {
  background-color: #E06733;
  color: #FFFFFF;
}

.services {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  font-family: Inter;
}

.service__item {
  height: 450px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.service__item img {
  height: 350px;
  flex-shrink: 0;
  border-radius: 20px 20px 0px 0px;
}

.service__item div {
  height: 100px;
  flex-shrink: 0;
  border-radius: 0px 0px 20px 20px;
  border: 1px solid #E3E1D5;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.service__item__title {
  color: #E06733;
  flex-shrink: 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.service__item__description {
  color: #717171;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px; /* 125% */
}



/* Prcies section */
#prices {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
}

.prices__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.prices {
  flex-shrink: 0;
}

.prices h2 {
  line-height: normal;
}

.prices__item {
  flex-shrink: 0;
  border-radius: 20px;
  border: 1px solid #E3E1D5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prices__items {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.price__item {
  flex-shrink: 0;
  border-radius: 20px;
  background: #EDF2EC;
  line-height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.price__item svg {
  margin-right: 40px;
}

.call-us {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.text-call-us {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.text-call-us p {
  flex-shrink: 0;
}

.text-call-us p span {
  color: #499A18;
}

.text-call-us button {
  color: #E06733;
  flex-shrink: 0;
  font-family: Inika;
  border-radius: 5px;
  border: 1px solid #E06733;
  line-height: normal;
}

.text-call-us button:hover {
  color: #FFFFFF;
  background-color: #E06733;
}

.prices__leafs {
  width: 152px;
  height: 174.992px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.prices__leaf-1 {
  width: 32.97px;
  height: 25.315px;
  transform: rotate(-144.483deg);
  flex-shrink: 0;
  filter: blur(4.5px);
}

.prices__leaf-2 {
  width: 97.119px;
  height: 75.819px;
  transform: rotate(-6.897deg);
  flex-shrink: 0;
  filter: blur(2.5px);
}

.prices__leaf-3 {
  width: 68.46px;
  height: 57.171px;
  transform: rotate(-60.476deg);
  flex-shrink: 0;
  filter: blur(3.5px);
}

.prices__leaf-4 {
  width: 33.277px;
  height: 25.082px;
  transform: rotate(128.448deg);
  flex-shrink: 0;
  filter: blur(4.5px);
}

.prices__leaf-top-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

.prices__leaf-bottom-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}



/* Contacts section */
#contacts {
  flex-shrink: 0;
  background: #EDF2EC;
  font-style: normal;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contacts__container {
  display: flex;
  justify-content: space-between;
}

.contacts__container img {
  flex-shrink: 0;
}

#contacts h2 {
  flex-shrink: 0;
  color: #499A18;
  font-family: Inika;
  font-weight: 700;
  line-height: normal;
}

.contacts__cities {
  flex-shrink: 0;
  background: #D6E7D2;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.contacts__cities span {
  width: 204px;
  height: 40px;
  margin-left: 20px;
  flex-shrink: 0;
  color: #717171;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 1px;
}



/* Footer */
footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__data {
  display: inline-flex;
  padding-right: 0px;
  align-items: flex-start;
  gap: 20px;
}

.footer__container a {
  text-decoration: none;
  color: #000000;
}

.social-list {
  width: 188px;
  height: 32px;
  gap: 20px;
  flex-shrink: 0;
}

.social-list li {
  width: 32px;
  height: 32px;
}
