/* Desktop version */
@media (min-width: 1280px) {
  body {
    height: 3870px;
  }


  /* Header */
  header {
    height: 50px;
    padding: 42px 109px 42px 111px;
  }

  .navbar {
    width: 1220px;
    height: 50px;
  }

  nav li:not(:first-child):hover {
    background-color: #E06733;
  }
  
  nav li:first-child:hover {
    background-color: #499A18;
  }

  .burger {
    display: none;
  }


  /* Welcome section */
  #welcome {
    height: 407.358px;
    padding: 62px 109px 62.642px 109px;
  }

  .welcome {
    width: 1222px;
    height: 407.358px;
  }

  .welcome__leafs {
    width: 448.795px;
    height: 407.358px;
    flex: 1;
  }

  .welcome__leaf-1 {
    width: 81.232px;
    height: 60.889px;
  }

  .welcome__leaf-2 {
    width: 245.308px;
    height: 177.835px;
  }

  .welcome__leaf-3 {
    width: 163.487px;
    height: 141.861px;
  }

  .welcome__leaf-4 {
    width: 80.332px;
    height: 61.573px;
  }

  .welcome__leaf-5 {
    width: 120.926px;
    height: 77.012px;
  }

  .welcome__text {
    width: 549px;
    height: 340px;
  }

  .welcome__text button {
    width: 158px;
    height: 44px;
    font-size: 16px;
  }

  .welcome__text p {
    font-size: 20px;
    line-height: 35px;
  }

  h1 {
    font-size: 45px;
    line-height: 50px;
  }


  /* About section */
  #about {
    height: 479px;
    padding: 93px 109px 94px 109px;
  }

  .about {
    width: 1222px;
    height: 479px;
    flex-direction: row;
  }

  .about-us-section {
    width: 605px;
    height: 350px;
    align-items: flex-start;
  }

  .about-us-section h2 {
    width: 463px;
    height: 102px;
    font-size: 40px;
  }

  .about-us-section p {
    width: 605px;
    height: 208px;
    font-size: 20px;
    line-height: 30px; /* 150% */
  }

  .houseplant {
    width: 464px;
    height: 479px;
  }


  /* service section */
  #service {
    height: 1139px;
    padding-top: 40px;
    padding-bottom: 121px;
  }

  .service__container {
    max-width: 1222px;
    height: 1139px;
    gap: 90px;
  }

  .services__content {
    width: 1007px;
    height: 94px;
    flex-direction: row;
    align-items: center;
  }

  .services__content h2 {
    width: 306px;
    height: 94px;
    font-size: 40px;
  }

  .services__btns {
    width: 559px;
    height: 50px;
  }

  .services__btns button {
    font-size: 20px;
    width: 161px;
    height: 50px;
  }

  .services {
    width: 1222px;
    height: 955px;
    column-gap: 116px;
    row-gap: 55px;
  }

  .service__item {
    width: 330px;
  }

  .service__item img {
    width: 329.003px;
  }

  .service__item div {
    width: 330px;
  }


  /* Prices section */
  #prices {
    height: 405px;
    padding: 40px 109px 115px 109px;
  }

  .prices__container {
    width: 1222px;
    height: 405px;
    flex-direction: row;
  }

  .prices {
    width: 332px;
    height: 391.015px;
  }

  .prices h2 {
    font-size: 40px;
  }

  .prices__item {
    width: 332px;
    height: 282.011px;
  }

  .prices__items {
    width: 250px;
    height: 214.008px;
  }

  .price__item {
    width: 250px;
    height: 50.002px;
    font-size: 20px;
  }

  .price__item span {
    margin-left: 40px;
  }

  .text-call-us {
    align-items: flex-end;
  }

  .text-call-us p {
    width: 452px;
    height: 103.004px;
    font-size: 40px;
    text-align: right;
    line-height: 50px;
  }

  .text-call-us button {
    width: 162px;
    height: 50.002px;
    font-size: 20px;
  }


  /* Contacts section */
  #contacts {
    height: 497px;
    padding: 53px 109px 0 109px;
  }

  .contacts__container {
    max-width: 1222px;
    height: 497px;
    flex-direction: row;
    align-items: flex-start;
    flex: 1;
  }

  .contacts__container img {
    width: 400px;
    height: 496.986px;
  }

  #contacts h2 {
    width: 210px;
    height: 51px;
    font-size: 40px;
    margin-top: 7px;
  }

  .contacts__cities {
    width: 450px;
    height: 50px;
    margin-top: 95px;
  }

  .contacts__cities svg {
    margin-right: 35px;
  }


  /* Footer */
  footer {
    height: 50px;
    padding: 40px 109px;
    line-height: 50px; /* 250% */
  }
  
  .footer__container {
    width: 1222px;
    height: 50px;
    flex-direction: row;
  }

  .social-list {
    padding: 9px 0px;
  }
  
}